h1 {
    color: rgb(200, 35, 35, 0.5);
}

#hexadecimal {
    color: #0000ff;
}

#hexadecimalComOpacidade {
    color: #0000ff50;
}

#rgb {
    color:rgb(117, 33, 173);
}

#rgba {
    color: rgb(196, 81, 14);
}

section {
    background-color: rgb(204, 204, 204);
    font-size: 20px;
}

#porcentagem{
    font-size: 50%;
}

#em{
    font-size: 2em; /*2x  tamanho da font-size do elemento pai*/
}

#rem{
    font-size: 2rem; /*1x o tamanho do elemento raiz HTML*/
}

#caixa{
    background-color: #ffc0cb;
    height: 50vh;
    width: 100vw;
}