body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #29f700;
    margin: 0;
}

#titulo {
    font-family: sans-serif;
    color:#102fb9;
    }